@font-face {
    font-family: "Roboto Mono 400";
    src: url("../fonts/RobotoMono-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto Mono 700";
    src: url("../fonts/RobotoMono-Bold.ttf") format('truetype');
}
